<h1>Mouse Create Reporting</h1>

<h2>Demographics:</h2>
<h3>By Network:</h3>
<ul>
  <li><h4><a href="/reports/demographics?scope=network">All Networks</a></h4></li>
  <li id="scopeNetworkFilterNetworkSingleNetwork">
    <h4>Single Network</h4>
    <p></p>
    <label>Network Id:</label>
    <input></input><button>Create Link</button>
  </li>
</ul>
<h3>By Site:</h3>
<ul>
  <li><h4><a href="/reports/demographics?scope=site">All Sites</a></h4></li>
  <li id="scopeSiteFilterNetworkSingleNetwork">
    <h4>Filtered by Network</h4>
    <p></p>
    <label>Network Id:</label>
    <input></input><button>Create Link</button>
  </li>
  <li id="scopeSiteFilterSiteSingleSite">
    <h4>Filtered by Site</h4>
    <p></p>
    <label>Site Id:</label>
    <input></input><button>Create Link</button>
  </li>
</ul>
