<h1>Mouse Create Reporting</h1>

<h2>Demographics:</h2>
<h3>By Network</h3>
<ul>
  <li><h4><a href="/reports/demographics?scope=network">All Networks</a></h4></li>
  <li id="scopeNetworkFilterNetworkSingleNetwork">
    <h4>Single Network</h4>
    <p></p>
    <label>Network Id:</label>
    <input></input><button>Create link</button>
  </li>
</ul>
