<h1>Mouse Create Reporting</h1>

<h2>Demographics:</h2>
<ul id="demographics">
  <li>
    <h3>By Network:</h3>
    <ul>
      <li><h4><a href="/reports/demographics?scope=network">All Networks</a></h4></li>
      <li id="scopeNetworkFilterNetworkSingleNetwork">
        <h4>Single Network</h4>
        <label>Network Id:</label>
        <input></input><button>Create Link</button><br>
        <div class="report-link"></div>
      </li>
    </ul>
  </li>
  <li>
    <h3>By Site:</h3>
    <ul>
      <li><h4><a href="/reports/demographics?scope=site">All Sites</a></h4></li>
      <li id="scopeSiteFilterNetworkSingleNetwork">
        <h4>Filtered by Network</h4>
        <label>Network Id:</label>
        <input></input><button>Create Link</button><br>
        <div class="report-link"><div>
      </li>
      <li id="scopeSiteFilterSiteSingleSite">
        <h4>Filtered by Site</h4>
        <label>Site Id:</label>
        <input></input><button>Create Link</button><br>
        <div class="report-link"></div>
      </li>
    </ul>
  </li>
  <li>
    <h3>By Group:</h3>
    <ul>
      <li><h4><a href="/reports/demographics?scope=group">All Groups</a></h4></li>
      <li id="scopeGroupFilterNetworkSingleNetwork">
        <h4>Filtered by Network</h4>
        <input></input><button>Create Link</button><br>
        <div class="report-link"></div>
      </li>
      <li id="scopeGroupFilterSiteSingleSite">
        <h4>Filtered by Site</h4>
        <input></input><button>Create Link</button><br>
        <div class="report-link"></div>
      </li>
      <li id="scopeGroupFilterGroupSingleGroup">
        <h4>Filtered by Group</h4>
        <input></input><button>Create Link</button><br>
        <div class="report-link"></div>
      </li>
    </ul>
  </li>
</ul>

<h2>Projects</h2>
<ul id="projects">
  <li>
    <h3>By Network:</h3>
    <ul>
      <li>
      </li>
    </ul>
  </li>
  <li>
    <h3>By Site:</h3>
    <ul>
      <li>
        <h4><a href="/reports/projects?scope=site">All Sites</h4>
      </li>
      <li id="scopeSiteFilterNetworkSingleNetwork">
        <h4>Filtered by Network</h4>
        <input></input><button>Create Link</button><br>
        <div class="report-link"></div>
      </li>
      <li id="scopeSiteFilterSiteSingleSite">
        <h4>Filtered by Site</h4>
        <input></input><button>Create Link</button><br>
        <div class="report-link"></div>
      </li>
      <li id="scopeSiteFilterGroupSingleGroup">
        <h4>Filtered by Group</h4>
        <input></input><button>Create Link</button><br>
        <div class="report-link"></div>
      </li>
    </ul>
  </li>
  <li>
    <h3>By Group:</h3>
    <ul>
      <li>
      </li>
    </ul>
  </li>
