<h1>Accounts</h1>
<br />

<h3>Date Created</h3>
<label>After:</label>
<input type="text" class="datepicker">
<label>Before:</label>
<input type="text" class="datepicker">


<h3>Ethnicity</h3>
<select name="cars" multiple class="multi-select">
  <option value="1">American Indian or Alaska Native</option>
  <option value="2">Asian</option>
  <option value="3">Black or African American</option>
  <option value="4">Hispanic, Latino/a, or Spanish Origin</option>
  <option value="9">Middle Eastern or North African</option>
  <option value="5">Native Hawaiian or Other Pacific Islander</option>
  <option value="6">White</option>
  <option value="7">Two or More Races</option>
  <option value="8">Decline to Answer</option>
</select>





<div class="chart">
  <canvas id="myChart"></canvas>
</div>
